@charset "utf-8";

@font-face {
    font-family: Asap;
    src: url(../fonts/asap/Asap-Regular.otf);
     font-weight: 100; 
}

@font-face {
    font-family: Asap;
    src: url(../fonts/asap/Asap-Bold.otf);
    font-weight: 600;
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/pacifico/Pacifico.ttf);
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

/*
 * Base
 */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 13pt;
}

body {
    font-family: "Open Sans", Asap, Helvetica;
    font-size: 1rem;
    line-height: 1.4em;
    color: rgb(90, 90, 90);
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;

    /* -webkit-text-size-adjust: 100%; */
    /*     -ms-text-size-adjust: 100%; */
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover,
a:focus {
    color: rgb(18, 156, 244);
    text-decoration: underline;
}


/* Hedings */
h1, h2, h3, h4, h5, h6,
header p {
    color: rgb(0, 0, 0);
    font-family: Asap, Cantarel, Helvetica;
    font-weight: lighter;
    text-align: inherit;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin: 0;
    line-height: 125%;
}

h1 {
    font-family: Pacifico, Asap;
    text-rendering: optimizeSpeed;
    font-size: 4.0rem;
}

h2 {
    font-size: 1.8rem;
    margin: 1em 0 0.5em 0;
}

header h1 + p {
    margin-top: 1.5em;
    margin-bottom: 1.0em;
    text-align: center;
    font-size: 1.3rem;
    text-rendering: optimizeLegibility;
}

header h2 + p {
    margin-top: -0.5em;
    margin-bottom: 1.2em;
    text-align: center;
    font-size: 1.15rem;
    color: rgb(50, 50, 50);
    text-rendering: optimizeLegibility;
}

h1 abbr {
    font-family: Asap, Cantarell;
    font-size: 1.0em;
    font-weight: 600;
    color: inherit;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.0rem;
}

section:first-child h4 {
    margin-top: 0;
}

/* larger headers if posible */
@media (min-width: 640px)
{
    h2 {
        font-size: 2.1rem;
    }
}



/* Body text */
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: justify;
}

p + p,
p + ol,
p + ul,
p + dl,
p + footer {
    margin-top: 1.0rem;
}

strong {
/*    color: #303030;*/
}

::-moz-selection,
::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* Lists */
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

li {
    line-height: 1.4em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

dd, dt {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: inherit;
    margin-bottom: 0.2em;
}

dd {
    padding-left: .5rem;
    margin-bottom: .5rem;
}


/* Misc */
hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid red;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}


/* Code */
code,
pre {
    font-family: "Monospace Regular", "Courier New", monospace;
    font-size: 0.85em;
    background-color: rgb(245, 245, 245);
    color: #555;
    border-radius: 4px;
}

code {
    display: inline;
    padding: 0;
    padding: .25em .5em;
    border-radius: 3px;
}

pre {
    display: block;
    margin-bottom: 1.2rem;
    padding: 0.75rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.07);

    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

pre code {
    font-size: inherit;
    color: inherit;
    border-radius: none;
    background-color: transparent;
    padding: 0;
}

ol.bash {
    list-style: none;
    padding: 0.5rem;
    font-family: "Monospace Regular", "Courier New", monospace;
    font-size: 0.9rem;
    word-wrap: normal;
    color: #555;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
}

ol.bash li {
    margin: 0.25em 0;
    padding: 0;
    line-height: 1.25em;
    padding-left: 1.5rem;
    text-indent: -1.0rem;
}

ol.bash li:before {
    content: "$";
    margin-right: 0.5em;
}

p + ol.bash {
    margin-top: 1rem;
    margin-bottom: 2.0rem;
}

/*
 * Bootstrap Theme
 */
.container {
    padding: 0;
}

@media (max-width: 425px)
{
    .container-fluid {
        padding: 0;
    }
}

/*
 * Layout
 */
#page {
    margin-bottom: 50px;
}

#page > section {
    overflow: hidden;
}

#page > section:after {
    content: "";
    display: block;
    margin-top: 3.0em;
    width: 100%;
}

#page > section h2 {
    margin-top: 0;
}

#page > footer {
    position: relative;
    padding-top: 2.0em;
}

h2 {
    opacity: 0.8;
}

/*
 * Header
 */
#header {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    padding: 0.5em;
    margin: 0;
    overflow-x: hidden;

    font-family: Asap, Cantarel, Helvetica;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: white;

    background: rgb(20, 20, 20) url(../images/background.jpg);
    background-size: cover;
    background-position: 50% 50%;

    cursor: default;
}

#header header {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    padding: 10px;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
}

#header h1 {
    color: inherit;
    text-shadow: 2pt 4pt 20pt rgba(0, 0, 0, 0.3);
}

#header p {
    opacity: 0.6;
    color: #AAA;
}

#header nav {
    position: absolute;
    top: 3.0rem;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

#header nav ul {
    display: table-row;
    margin: 0 auto;
    padding: 0;
}

#header nav ul li {
    display: table-cell;
}

#header nav a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

#header nav a:hover {
    background: #129CF4;
    color: white;
}

#header nav a,
#header nav a:active,
#header nav a:visited,
#header nav a:hover {
    cursor: pointer;
    text-decoration: none;
}

/* hide navigation */
@media (max-width: 639px)
{
    #header nav {
        display: none;
    }

    #header header {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);        
    }
}

/* one word per line when in portrait */
@media (orientation: portrait),
       (max-width: 639px)
{
    #header {
        min-height: 600px;
    }

    #header h1 {
        word-spacing: 9999999px;
    }
}

/* larger header to fill space */
@media (min-width: 900px),
       (min-height: 600px)
{
    #header {
        height: 900px;
    }

    #header h1 {
        font-size: 5.0rem;
    }

    #header h1 + p {
        font-size: 1.5rem;
    }
}

/*
 * Footer
 */
footer {
    text-align: justify;
    font-size: 0.9rem;
    color: #888;
    text-rendering: optimizeLegibility;
}

.copyright {
    margin-top: 3.0em;
    line-height: 2.0em;
    text-align: center;
}

.copyright:before {
    content: "\1F499";  /* 💙 */
    position: absolute;
    left: 50%;

    -webkit-transform: translate(-50%, -2.0em);
            transform: translate(-50%, -2.0em);
}






/*
 * Misc
 */
.button {
    display: inline-block;
    padding: 10pt 12pt;
    margin: 5pt;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    border: 0px;
    border-radius: 4px;

    cursor: pointer;
}

.button:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15) inset;
}

.button:focus,
.button:hover,
.button:active,
.button:visited {
    text-decoration: none;
}

.button.button-default {
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background: #129CF4;
    border: 0;
}

.button.button-default:hover {
    background: #21a9ff;
}

.button.button-default:active {
    background: #129CF4;
}

.button.button-default:hover span {
    color: inherit;
    opacity: inherit;
}

.button-box {
    text-align: center;
    padding: 10pt;
}


.list-group-header {
    font-family: Asap, Cantarel, Helvetica;
    font-size: 1.0rem;
    display: block;
    font-weight: normal;
    margin-left: 0.4em;
    margin-bottom: 1.0rem;
    opacity: 0.3;
}

.list-group {
    min-width: 150px;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    box-shadow: none;
}

.list-group-item {
    position: relative;
    display: block;

    white-space: nowrap;
    overflow: hidden;
    padding: 10px 30pt 10px 15px;
    margin: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0px; /* solid rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.list-group-item:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15) inset;
}

.list-group-item.active {
    position: relative;
    background-color: rgb(0, 200, 0, 0.3);
    background-image: none;
    overflow: visible;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-right: 5px;
}
.list-group-item.active:after {
    content: "";
    position: absolute;
    display: inline-block;

    top: 0px;
    bottom: 0px;
    right: -14px;
    width: 14px;

    background: url(../images/triangle.svg) no-repeat 0% 0%;;
    background-size: 100% 100%;
}

.list-group-item:hover,
.list-group-item:active,
.list-group-item.active,
.list-group-item.active:hover {
    background: #129CF4;
    background-image: none;
    color: white;
    border-radius: 2px;
    text-shadow: none;
}

.steps-widget {
    position: relative;
}

.steps-widget .steps-back-button {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.steps-widget .steps-wrapper {
    position: relative;
    overflow: visible;

    -webkit-transition: -webkit-transform 400ms ease-out,
                        height 600ms ease-in-out;
            transition: transform 400ms ease-out,
                        height 600ms ease-in-out;    
}

.steps-widget .step {
    display: table-row;
}

.steps-widget .step .step-contents {
    display: table-cell;
}

.steps-widget .step .step-contents h4 {
    text-align: left;
}

.steps-widget .step .step-children {
    display: table-cell;
    position: relative;
    overflow: visible;
}

.steps-widget .step .step-children > .step {
    position: absolute;
    top: 0;
    left: 30px; /* step spacing */
}

.steps-widget .step .step-contents,
.steps-widget .step {
    opacity: 1.0;
    visibility: visible;

    -webkit-transition: opacity 200ms ease-in-out;
            transition: opacity 200ms ease-in-out;
}

/* bootstrap already defines .hidden with display:none !important, arrgh! */
.hidden-sm {
    opacity: 0.0 !important;
    /* visibility: hidden !important;*/

    pointer-events: none;
}



.tip,
.contributors {
    font-size: 0.9rem;
    text-align: center;
    margin: 1em 0;
}

.space {
    height: 1.0em;
}


/*
 * Icons
 */
.download-icon {
    padding-left: 14px;
}
.download-icon span {
    padding-left: 22px;
    background: url(../images/document-save-symbolic.png) no-repeat 0% 50%;
}

.button-default.download-icon span {
    background-image: url(../images/document-save-symbolic-white.svg) !important;
}


/*
 * Hacks and Exceptions
 */

h2 {
    margin-top: 1.0rem;
    margin-bottom: 3.0rem;
}

#about {
    padding-top: 5em;
    padding-bottom: 3em;
}

#about .gnome-pomodoro-icon {
    display: inline-block;
    width: 256px;
    height: 256px;
    background-image: url(../images/icons/256x256.png);
    background-repeat: no-repeat;
    background-position: center left;
}

#features {
    background: #F5F5F5;
    padding-top: 3em;
    padding-bottom: 2em;
}

.row {
    display: -webkit-flex;
    display:         flex;

    -webkit-flex-direction: row;
            flex-direction: row;

    -webkit-justify-content: center;
            justify-content: center;

    margin: 2.0rem 0;
}

.row .column {
    width: auto;
    padding: 0 1rem;
}

@media (max-width: 425px)
{
    .row {
        -webkit-flex-direction: column;
                flex-direction: column;
    }
    .row > * {
        margin-top: 30px;
    }
    .row > *:first-child {
        margin-top: 0;
    }

    #contribute .column:not(:first-child),
    #features .column:not(:first-child) {
        margin-top: 3rem;
    }
}

#contribute ul,
#features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contribute ul li,
#features ul li {
    line-height: 1.2em;
    margin-bottom: 1.0em;
}

#screenshots {
    margin: 2rem 0;
}

#screenshots .owl-controls {
    margin-top: 2rem;
}

.screenshot {
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center;
}
.screenshot-notification {
    width: 800px;
    height: 500px;
    background-image: url(../images/screenshot-notification.png);
    background-position: top center;
}

.screenshot-indicator {
    width: 600px;
    height: 500px;
    background-image: url(../images/screenshot-indicator.png);
    background-position: top right;
}

.screenshot-screen-notification {
    width: 800px;
    height: 500px;
    background-image: url(../images/screenshot-screen-notification.png);
}

.screenshot-preferences {
    width: 1000px;
    height: 850px;
    background-image: url(../images/screenshot-preferences.png);
}

@media (max-width: 425px)
{
    .container-fluid {
        padding: 0;
    }
}

@media (max-width: 599px)
{
    #features,
    #screenshots {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #features:after {
        display: none !important;
    }

    .screenshot-notification {
        width: 100vw;
        height: 70vw;
        background-size: 300%;
    }
    .screenshot-indicator {
        width: 100vw;
        height: 70vw;
        background-size: 300%;
    }
    .screenshot-screen-notification {
        width: 100vw;
        height: 70vw;
        background-size: 300%;
    }
    .screenshot-preferences {
        width: 100vw;
        height: 140vw;
        background-size: 300%;
    }
}

@media (min-width: 600px) and (max-width: 900px)
{
    .screenshot-notification {
        width: 600px;
        height: 400px;
        background-size: 300%;
    }
    .screenshot-indicator {
        width: 600px;
        height: 400px;
        background-size: 300%;
    }
    .screenshot-screen-notification {
        width: 600px;
        height: 400px;
        background-size: 300%;
    }
    .screenshot-preferences {
        width: 600px;
        height: 800px;
        background-size: 300%;
    }
}


#download {
    padding-top: 5em;
    padding-bottom: 3em;
    background-color: #333333;
    color: #fff;
}

#download h2 {
    color: #fff;
    opacity: 1.0;
}

#download-back-button {
    position: absolute;
    display: block;
    top: -10pt;
    left: 0px;
    width: 48px;
    height: 48px;
    background: white;
    z-index: 2;
}

#download .steps-widget .step .step-contents {
    padding-bottom: 1px;
}

#download .steps-widget .steps-back-button {
    min-width: 3.1em;
    white-space: nowrap;
    margin-left: 15px;
}

#download .steps-widget .steps-back-button:before {
    content: "❮";
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -1px;
}

#download .steps-widget .steps-back-button em {
    display: none;
}

#download header {
    margin-bottom: 2rem;
}

#download .step header {
    margin: 0;
}

#download .step-last {
    text-align: left;
    padding-top: 100px;
    margin-left: 10px;
}

#download .bash {
    background: rgba(0, 0, 0, 0.2);
}

#download .button {
    background: rgba(255, 255, 255, 0.1);
}

#download .button:hover {
    background: #129CF4;
    color: white;
}

#download .download-icon span {
    background-image: url("../images/document-save-symbolic-white.svg");
}

#download .alert-warning {
    color: #eeeeee;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-left: 4px solid #1A9DF2;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

#download h4,
#download li,
#download a {
    color: white;
}

#contribute {
    border-bottom: 1px solid #eee;
}

#contribute,
#feedback {
    padding-top: 5em;
    padding-bottom: 3em;
}


/* Disable text highlighting */
.button,
.list-group {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*
 * Owl Carousel Theme
 */
.owl-carousel .owl-stage-outer {
    border-radius: 5px;
}

.owl-carousel .owl-item:first-child div {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.owl-carousel .owl-item:last-child div {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.owl-carousel .owl-item {
    background-color: rgb(238, 238, 238);
}

.owl-carousel .owl-dots {
    display: -webkit-flex;
    display:         flex;

    -webkit-flex-direction: row;
            flex-direction: row;

    -webkit-justify-content: center;
            justify-content: center;
}

.owl-carousel .owl-dot {
    padding: 1rem 0.5rem;
}

.owl-carousel .owl-dot span {
    display: block;
    background-color: #DDD;    
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.owl-carousel .owl-dot.active span {
    background-color: #333;
}

@media (max-width: 425px)
{
    .owl-carousel .owl-stage-outer,
    .owl-carousel .owl-item:first-child div,
    .owl-carousel .owl-item:last-child div {
        border-radius: 0;
    }

    #screenshots .owl-controls {
        position: absolute;
        bottom: 0px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
    }
}

