{{if linux }}
    <!-- Install from distro repos -->

    {{if arch }}
        <section>
            <header>
                <h4>Install from AUR</h4>
            </header>

            <div class="button-box">
                <a download href="https://aur.archlinux.org/cgit/aur.git/snapshot/gnome-shell-pomodoro.tar.gz" class="button button-default download-icon"><span>Download package</span></a>
            </div>

            <p>Then, install it by running in terminal:</p>
            <ol class="bash">
                <li>tar -xvf gnome-shell-pomodoro.tar.gz && cd gnome-shell-pomodoro</li>
                <li>makepkg -s</li>
                <li>makepkg -i</li>
            </ol>

            <p>If you like it, consider upvoting the package <a href="https://aur.archlinux.org/packages/gnome-shell-pomodoro/">here</a>. If you are new to AUR you may want to read more about <a href="https://wiki.archlinux.org/index.php/Arch_User_Repository#Installing_packages">installing packages</a>.</p>

            <footer>
                <p class="contributors"> AUR packages are provided by Marcin Wieczorek.</p>
            </footer>
        </section>
    {{/if}}

    {{if debian }}
        <section>
            <header>
                <h4>Install from repositories</h4>
            </header>

            <p>Find Pomodoro in Software Center or run</p>
            <ol class="bash">
                <li>sudo apt-get install gnome-shell-pomodoro</li>
            </ol>

            <!-- https://packages.debian.org/sid/gnome-shell-pomodoro -->
        </section>
    {{/if}}

    {{if ubuntu }}
        <section>
            <header>
                <h4>Install from repositories</h4>
            </header>

            <p>Find Pomodoro in Software Center or run</p>
            <ol class="bash">
                <li>sudo apt-get install gnome-shell-pomodoro</li>
            </ol>

            <!-- https://launchpad.net/ubuntu/+source/gnome-shell-pomodoro -->
        </section>
    {{/if}}

    {{if opensuse && hidePackages }}
        <section>
            <header>
                <h4>Install from repositories</h4>
            </header>

            {{if ymp }}
                <div class="button-box">
                    <a href="{{>ymp}}" class="button button-default download-icon"><span>Install Pomodoro</span></a>
                </div>
            {{/if}}

            <p>Find Pomodoro with your software manager or run</p>
            <ol class="bash">
                <li>sudo zypper install gnome-pomodoro</li>
            </ol>

            <footer>
                <p class="contributors">openSUSE packages are provided by <a href="http://jubalh.github.io/" rel="nofollow">Michael Vetter</a>.</p>
            </footer>
        </section>
    {{/if}}


    <!-- Install from a package -->

    {{if packages && !hidePackages }}
        <section>
            <header>
                <h4>Packages</h4>
            </header>

            <div class="button-box">
                {{for packages}}
                    <a download href="{{>url}}" class="button button-default download-icon"><span>{{>label}}</span></a>
                {{/for}}
            </div>

            {{if (debian || ubuntu) && repository}}
                <div class="space"></div>
                <p>If you want to receive updates, add the repository</p>
                <ol class="bash">
                    <li>curl -L {{: repository }}Release.key | sudo apt-key add -</li>
                    <li>sudo sh -c "echo 'deb {{: repository }} /' >> /etc/apt/sources.list.d/gnome-pomodoro.list"</li>
                    <li>sudo apt-get update</li>
                    <li>sudo apt-get install gnome-pomodoro</li>
                </ol>
            {{/if}}

            {{if opensuse && repository}}
                <div class="space"></div>
                <p>If you want to receive updates, add the repository</p>
                <ol class="bash">
                    <li>sudo zypper addrepo {{: repository }}home:kamilprusko.repo</li>
                    <li>sudo zypper refresh</li>
                    <li>sudo zypper install gnome-pomodoro</li>
                </ol>
            {{/if}}

            {{if fedora && repository}}
                <div class="space"></div>
                <p>If you want to receive updates, add the repository</p>
                <ol class="bash">
                    <li>cd /etc/yum.repos.d/</li>
                    <li>sudo wget {{: repository }}home:kamilprusko.repo</li>
                    <li>sudo {{if gte(fedora, "22") }}dnf{{else}}yum{{/if}} install gnome-pomodoro</li>
                </ol>
            {{/if}}

            <footer>
                <p class="contributors">Packages are build with <a href="https://build.opensuse.org/package/show/home:kamilprusko/gnome-pomodoro" rel="nofollow">openSUSE Build Service</a>.</p>
            </footer>
        </section>
    {{/if}}


    <!-- Install from repos, Fedora is more cutting edge so package in repos may not work best -->

    {{if fedora && gte(fedora, "20") }}
        <section>
            <header>
                <h4>Install from repositories</h4>
            </header>

            <p>Install it by running in terminal:</p>
            <ol class="bash">
                <li>sudo dnf install gnome-pomodoro</li>
            </ol>

            <!-- https://src.fedoraproject.org/rpms/gnome-pomodoro -->
            <footer>
                <p class="contributors">Fedora packages are provided by <a href="https://fedoraproject.org/wiki/User:fab" rel="nofollow">Fabian Affolter</a> and <a href="http://fedoraproject.org/wiki/User:Mbooth">Mat Booth</a>.</p>
            </footer>
        </section>
    {{/if}}


    <!-- Install from source -->

    <section>
        <header>
            <h4>Build from source code</h4>
        </header>

        <div class="button-box">
            <a download href="https://github.com/gnome-pomodoro/gnome-pomodoro/tarball/gnome-{{: gnome }}" rel="nofollow" class="button button-default download-icon"><span>Get source code</span></a>
        </div>

        <p>or if you wish to get it with git</p>
        <ol class="bash">
            <li>git clone -b gnome-{{: gnome }} https://github.com/gnome-pomodoro/gnome-pomodoro.git</li>
            <li>cd gnome-pomodoro</li>
        </ol>

        {{if debian || ubuntu }}
            <p>Install dependencies</p>
            <ol class="bash">
                {{if gte(gnome, "40") }}
                    <li>sudo apt-get install meson gettext valac pkg-config desktop-file-utils appstream-util libappstream-glib-dev libglib2.0-dev gsettings-desktop-schemas-dev gobject-introspection libgirepository1.0-dev libsqlite3-dev libgom-1.0-dev libgstreamer1.0-dev libgtk-3-dev libcanberra-dev libpeas-dev libjson-glib-dev</li>
                {{/if}}
            </ol>
        {{/if}}

        {{if fedora }}
            <p>Install dependencies</p>
            <ol class="bash">
                {{if gte(gnome, "40")}}
                    <li>sudo dnf install meson gcc gettext vala pkg-config desktop-file-utils glib2-devel gtk3-devel libappstream-glib-devel gdk-pixbuf2-devel libcanberra-devel libpeas-devel sqlite-devel gom-devel gobject-introspection-devel gstreamer1-devel json-glib-devel</li>
                {{/if}}
            </ol>
        {{/if}}

        {{if gentoo }}
            <p>Install dependencies</p>
            <ol class="bash">
                <li>sudo emerge gnome-common intltool vala-common vala gobject-introspection-common gobject-introspection dev-libs/glib dbus-glib dev-libs/gom</li>
            </ol>
        {{/if}}

        <p>Inside unpacked directory run</p>
        <ol class="bash">
            {{if gte(gnome, "45") }}
                <li>meson setup --prefix=/usr build</li>
                <li>meson compile -C build</li>
                <li>sudo meson install -C build --no-rebuild</li>
            {{else}}
                <li>meson . build --prefix=/usr</li>
                <li>meson compile -C build</li>
                <li>sudo meson install -C build --no-rebuild</li>
            {{/if}}
        </ol>
    </section>

{{/if}}
