{# TODO: what are source links? #}
{# {% if page.meta.source %} #}
{#     <div class="source-links"> #}
{#     {% for filename in page.meta.source %} #}
{#         <span class="label label-primary">{{ filename }}</span> #}
{#     {% endfor %} #}
{#     </div> #}
{# {% endif %} #}

<div class="content">
    {% if page.meta.title %}
        <h1 class="title">{{ page.meta.title }}</h1>
    {% endif %}

    {# {% if page.meta.summary %} #}
    {#     <h1 class="subtitle">{{ page.meta.summary }}</h1> #}
    {# {% endif %} #}

    {# <pre>{{ page.meta }}</pre> #}

    {{ page.content }}
</div>

{% if page.meta.git_revision_date_localized %}
    <div class="revision-date">
        Last update: {{ page.meta.git_revision_date_localized }}
    </div>
{% endif %}
