{% if nav | length >= 1 %}
    {% for nav_item in nav %}
        <div class="section">
            {% if nav_item.children %}
                <header>{{ nav_item.title }}</header>
                <ul>
                    {% for nav_item in nav_item.children %}{% include "nav-sub.html" %}{% endfor %}
                </ul>
            {% else %}
                <div class="{% if nav_item.active %} is-current{% endif %}" data-path="{{ nav_item.url }}">
                    <a href="{{ nav_item.url | url }}">{{ nav_item.title }} YYY</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
