<!-- TODO
<p class="control has-icons-left">
    <input type="search" placeholder="Search the docs..." aria-label="Search the docs" autocomplete="off" class="input is-normal" />
        <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
    </span>
</p>
-->

{% macro render_nav(level, items) %}
    <ul data-level="{{ level }}" {% if level == 1 %}class="nav"{% endif %}>
    {% for item in items %}
        {% if item.children %}
            <li>
                {% if item.url %}
                    <header><a href="{{ item.url | url }}" {% if item.active and item == page %}class="is-current"{% endif %}>{{ item.title }}</a></header>
                {% else %}
                    <header>{{ item.title }}</header>
                {% endif %}
                {{ render_nav(level + 1, item.children) }}
            </li>
        {% else %}
            <li>
                <a href="{{ item.url | url }}" {% if item.active %}class="is-current"{% endif %}>{{ item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{{ render_nav(1, nav) }}

