<div>
    <a href="{{ nav.homepage.url | url }}" class="brand">
        <img src="{{ base_url }}/images/icons/128x128.png" width="128" height="128" alt="" title="{{ config.site_name }}" />
    </a>
</div>

<!-- TODO: remove search
<div class="field">
  <p class="control has-icons-left">
    <input type="search" placeholder="Search the docs ..." aria-label="Search the docs" autocomplete="off" class="input is-normal" />
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </p>
</div>
-->


{% macro render_nav(level, items) %}
    <ul data-level="{{ level }}">
    {% for item in items %}
        {% if item.children %}
            <li>
                {% if item.url %}
                    <header><a href="{{ item.url | url }}" {% if item.active and item == page %}class="is-current"{% endif %}>{{ item.title }}</a></header>
                {% else %}
                    <header>{{ item.title }}</header>
                {% endif %}
                {{ render_nav(level + 1, item.children) }}
            </li>
        {% else %}
            <li>
                <a href="{{ item.url | url }}" {% if item.active %}class="is-current"{% endif %}>{{ item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{{ render_nav(1, nav) }}



<!-- TODO TOC 
<pre>
{{ page.toc }}
</pre>
-->
