@charset "utf-8";


@font-face {
    font-family: Asap;
    src: url(fonts/asap/Asap-Regular.otf);
     font-weight: 100; 
}

@font-face {
    font-family: Asap;
    src: url(fonts/asap/Asap-Bold.otf);
    font-weight: 600;
}

@font-face {
    font-family: Pacifico;
    src: url(fonts/pacifico/Pacifico.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$bright-blue: rgb(18, 156, 244);
$dark-blue: #23527c;
$white: #FFFFFF;
$white-ter: #FAFAFA;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", "Cantarell", "Droid Sans", "Ubuntu", "DejaVu Sans", "Arial", sans-serif;
$family-secondary: "Asap";
// $size-1: 5rem;
// $size-2: 4rem;
// $size-7: 1.75rem;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$widescreen-enabled: false;
//$fullhd-enabled: true;
//$body-size: 16px;
$body-font-size: 1.25em;
$primary: $bright-blue;
$link: $bright-blue;
$light: hsl(0, 0%, 90%);
$text: hsl(0, 0%, 16%);
$background: $white;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/*
// TODO: Import only what you need from Bulma
@import "../libs/bulma/sass/utilities/_all.sass";
@import "../libs/bulma/sass/base/_all.sass";
@import "../libs/bulma/sass/elements/button.sass";
@import "../libs/bulma/sass/elements/container.sass";
@import "../libs/bulma/sass/elements/title.sass";
@import "../libs/bulma/sass/form/_all.sass";
@import "../libs/bulma/sass/components/navbar.sass";
@import "../libs/bulma/sass/layout/hero.sass";
@import "../libs/bulma/sass/layout/section.sass";
*/

@import "../libs/bulma/bulma.sass";



.navbar {
    padding: 1.0rem 1.5rem;
    user-select: none;
}
.navbar-brand .title {
    font-weight: 100;
}
.navbar-brand img {
    vertical-align: -0.8rem;
    margin-right: 0.5rem;
    max-height: none;
}

#sidebar {
    user-select: none;
    flex-grow: 0;
    flex-basis: 350px;
    min-width: 350px;
}
#sidebar header {
    color: $text-light;
    font-size: $size-6;
    text-transform: uppercase;
    word-break: keep-all;
    letter-spacing: 0.05rem;
    margin: 0.5rem 0.5rem;
}
#sidebar li {
    padding: 0;
    margin: 0.5rem 0;
}
#sidebar li a {
    display: block;
    padding: 0.5rem 0.5rem;
}
#sidebar a {
    color: inherit;
    font-weight: 600;
}
#sidebar a:hover {
    color: $link;
}
/*
#sidebar a.is-current {
    background-color: $dark;
    color: $primary-invert;
    border-radius: 4px;
    pointer-events: none;
}
*/
#sidebar a.is-current {
    background-color: $light;
    border-radius: 4px;
    pointer-events: none;
}
/*
#sidebar a.is-current:hover {
    color: initial;
}
*/
#sidebar .section {
    padding: 1.5rem 1.5rem;
}

#content {
    overflow: auto;
}



/*
@import "material-color";
@import "material-shadows";

@import "utilities/break";
@import "utilities/convert";

@import "config";

@import "main/reset";
@import "main/colors";
@import "main/icons";
@import "main/typeset";

@import "main/layout/base";
@import "main/layout/announce";
@import "main/layout/clipboard";
@import "main/layout/content";
@import "main/layout/dialog";
@import "main/layout/form";
@import "main/layout/header";
@import "main/layout/footer";
@import "main/layout/nav";
@import "main/layout/search";
@import "main/layout/sidebar";
@import "main/layout/source";
@import "main/layout/tabs";

@import "main/extensions/markdown/admonition";
@import "main/extensions/markdown/footnotes";
@import "main/extensions/markdown/toc";

@import "main/extensions/pymdownx/arithmatex";
@import "main/extensions/pymdownx/critic";
@import "main/extensions/pymdownx/details";
@import "main/extensions/pymdownx/emoji";
@import "main/extensions/pymdownx/highlight";
@import "main/extensions/pymdownx/keys";
@import "main/extensions/pymdownx/tabbed";
@import "main/extensions/pymdownx/tasklist";

@import "main/shame";
*/
