@charset "utf-8";

@font-face {
    font-family: Pacifico;
    src: url(fonts/pacifico/Pacifico.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

// Set your brand colors
$bright-blue: rgb(18, 156, 244);
$dark-blue: #0988dc;
$pale-blue: #cde0f0ff;
$white: #FFFFFF;
$white-ter: #FAFAFA;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", "Cantarell", "Droid Sans", "Ubuntu", "DejaVu Sans", "Arial", sans-serif;
$family-secondary: "Asap";
// $size-1: 5rem;
// $size-2: 4rem;
// $size-7: 0.8rem;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$widescreen-enabled: true;
$fullhd-enabled: true;
$body-size: 20px;
$body-font-size: 1.0em;
$primary: $bright-blue;
$link: $bright-blue;
$link-hover: $dark-blue;
$light: hsl(0, 0%, 90%);
$text: hsl(0, 0%, 16%);
$background: $white;
$code: hsl(0, 0%, 33%);
$code-background: hsl(0, 0%, 95%);
$pre: $code;
$pre-background: $code-background;
$pre-padding: 1.0rem 1.5rem;
$hr-background-color: $light;


// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/*
// TODO: Import only what you need from Bulma
@import "../libs/bulma/sass/utilities/_all.sass";
@import "../libs/bulma/sass/base/_all.sass";
@import "../libs/bulma/sass/elements/button.sass";
@import "../libs/bulma/sass/elements/container.sass";
@import "../libs/bulma/sass/elements/title.sass";
@import "../libs/bulma/sass/form/_all.sass";
@import "../libs/bulma/sass/components/navbar.sass";
@import "../libs/bulma/sass/layout/hero.sass";
@import "../libs/bulma/sass/layout/section.sass";
*/

@import "../libs/bulma/bulma.sass";


$fa-font-path: "../fonts/fontawesome" !default;
@import "../libs/fontawesome/fontawesome.scss";
@import "../libs/fontawesome/solid.scss";



.button:hover {
    color: $text;
}

.navbar {
    padding: 1.0rem 1.5rem;
    user-select: none;
}
.navbar-brand .title {
    font-weight: 100;
}
.navbar-brand img {
    vertical-align: -0.8rem;
    margin-right: 0.5rem;
    max-height: none;
}

#sidebar {
    user-select: none;
    flex-grow: 0;
    flex-basis: 300px;
    margin-bottom: 100px;
}
#sidebar header {
    font-weight: $weight-semibold;
}
#sidebar li > ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}
#sidebar ul[data-level="2"] > li > a {
    font-weight: $weight-normal;
    color: $text;
}
#sidebar li {
    color: $text-strong;
    padding: 0;
    margin: 0.25rem 0;
}
#sidebar li a {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin: 0.0 -0.75rem;
}
#sidebar a {
    color: inherit;
    font-weight: 600;
}


#sidebar a.is-current {
    color: $bright-blue !important;
    pointer-events: none;
}
#sidebar .brand {
    display: inline-block !important;
    margin: 40px 20px;
}

#footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: $grey;
}


// Empasized link - it's meant not to stand out as regular links, only as part of UI
a.em-link {
    color: inherit;
    font-weight: $weight-semibold;
}
a.em-link:hover {
    color: $text;
}

#footer em {
    font-weight: $weight-semibold;
    font-style: normal;
}
#footer .button.is-text {
    text-decoration: none;
}
#footer .button.is-text:hover {
    background-color: unset;
}


p.is-small {
    font-size: 0.8em;
}


.fat-button {
    text-align: left;
    height: 3.5em;
}
.fat-button em {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    opacity: 0.5;
    
}
.fat-button strong {
    display: block;
    font-weight: $weight-semibold;
}

/*
.container > .columns {
    margin: 0;
}
*/

//body {
//    min-height: 100vh;
////    background-color: $light;
////    background-color: $grey-lightest;
//    // background-color: $scheme-main-bis;
//}
//.container > .columns {
//    margin: 0;
//    padding: 0;
//}

/*
h1 {
    font-size: $size-3;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}
h2 {
    font-size: $size-4;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}
h3 {
    font-size: $size-5;
    font-weight: 600;
    margin-top: 1.0rem;
    margin-bottom: 0.25rem;
}
h4 {
    font-size: $size-6;
    font-weight: 600;
    margin-top: 1.0rem;
    margin-bottom: 0.25rem;
}
*/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit !important;
}

//h5 {
//    font-size: $size-6;
//    font-weight: 600;
//}
//h6 {
//    font-size: $size-7;
//    font-weight: 600;
//}
.content code {
    border-radius: $radius;
}
.content pre {
    border-radius: $radius-large;
    white-space: pre-wrap;
}

a:not(.button):hover {
    // text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-line: underline;
    // text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.content blockquote {
    border: none;
}
.content blockquote:before {
    content: "\275D";  /* â */
    display: block;
    position: absolute;
    font-size: 2rem;
    color: $text-strong;
    transform: translate(-2rem, -0.8rem);
}

.content table {
    width: auto;
}

.content dt {
    font-weight: $weight-semibold;
}

.toc li > ol {
    margin-left: 2rem;
}



p, pre, blockquote {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

/*
blockquote {
    border-left: 4px solid $pre;
    margin-left: 2rem;
    margin-right: 2rem;
    color: $pre;
    padding: 0 1.5rem;
    
}
dt {
    font-weight: $weight-semibold;
    margin-top: 0.25rem;
}
dd {
    margin-left: 3rem;
    margin-bottom: 0.75rem;
}
hr {
    border-bottom: 4px solid $light;
    margin: 1rem 0;
}*/

// TODO: tables
//$content-heading-color
//$content-heading-weight
//$content-heading-line-height
//$content-blockquote-background-color
//$content-blockquote-border-left
//$content-blockquote-padding
//$content-pre-padding
//$content-table-cell-border
//$content-table-cell-border-width
//$content-table-cell-padding
//$content-table-cell-heading-color
//$content-table-head-cell-border-width
//$content-table-head-cell-color
//$content-table-foot-cell-border-width
//$content-table-foot-cell-color


@import "extensions/markdown/_codehilte.scss";
//@import "extensions/pymdownx/arithmatex.scss";
//@import "extensions/pymdownx/critic.scss";
//@import "extensions/pymdownx/details.scss";
//@import "extensions/pymdownx/highlight.scss";
//@import "extensions/pymdownx/highlight.scss";
//@import "extensions/pymdownx/keys.scss";
//@import "extensions/pymdownx/tabbed.scss";
//@import "extensions/pymdownx/tasklist.scss";



// Permalinks
a.headerlink {
    color: inherit;
    padding: 0 0.5rem;
    opacity: 0;
    user-select: none;
}
a.headerlink:hover {
    text-decoration-line: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink {
    opacity: 1;
}


// Pluigin: git-revision-date-localized
/*
.revision-date {
    color: $grey;
    font-size: $size-normal;
}
*/


//.admonition {
//    border: 1px solid red;
//}




/*
#footer {
    background-color: $light;
    height: 290px;
    overflow: visible;
    position: absolute;
    bottom: 0;
}
*/


/*
@import "material-color";
@import "material-shadows";

@import "utilities/break";
@import "utilities/convert";

@import "config";

@import "main/reset";
@import "main/colors";
@import "main/icons";
@import "main/typeset";

@import "main/layout/base";
@import "main/layout/announce";
@import "main/layout/clipboard";
@import "main/layout/content";
@import "main/layout/dialog";
@import "main/layout/form";
@import "main/layout/header";
@import "main/layout/footer";
@import "main/layout/nav";
@import "main/layout/search";
@import "main/layout/sidebar";
@import "main/layout/source";
@import "main/layout/tabs";

@import "main/extensions/markdown/admonition";
@import "main/extensions/markdown/footnotes";
@import "main/extensions/markdown/toc";

@import "main/extensions/pymdownx/arithmatex";
@import "main/extensions/pymdownx/critic";
@import "main/extensions/pymdownx/details";
@import "main/extensions/pymdownx/emoji";
@import "main/extensions/pymdownx/highlight";
@import "main/extensions/pymdownx/keys";
@import "main/extensions/pymdownx/tabbed";
@import "main/extensions/pymdownx/tasklist";

@import "main/shame";
*/


.button.is-medium {
    font-size: 1em;
}

main {
    margin-top: 3rem;
}

html {
    @include mobile {
        font-size: 16px;
    }
    @include tablet-only {
        font-size: 18px;
    }
    @include desktop-only {
        font-size: 18px;
    }
}



/* TODO: is this the best way? */
body > .container {
    padding: 0 32px;

    @include mobile {
        padding: 0 24px;
    }
    @include tablet-only {
        padding: 0 32px;
    }
    @include desktop-only {
        padding: 0 32px;
    }
}


#sidebar {
    @include until($tablet) {
        display: none;
    }
    @include until($widescreen) {
        flex-basis: 250px;
    }
}

//@mixin desktop {
//}


/*
@media (max-width: $screen-xs-max) {


}
*/















