@charset "utf-8";

@font-face {
    font-family: Pacifico;
    src: url(../fonts/pacifico/Pacifico.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

// Set your brand colors
$bright-blue: rgb(18, 156, 244);
$dark-blue: #0988dc;
$pale-blue: #cde0f0ff;
$white: #FFFFFF;
$white-ter: #FAFAFA;

// Update Bulma's global variables
$family-sans-serif: "Open Sans", "Cantarell", "Droid Sans", "Ubuntu", "DejaVu Sans", "Arial", sans-serif;
$family-secondary: "Asap";
$widescreen-enabled: true;
$fullhd-enabled: true;
$body-size: 20px;
$body-font-size: 1.0em;
$primary: $bright-blue;
$link: $bright-blue;
$link-hover: $dark-blue;
$light: hsl(0, 0%, 90%);
$text: hsl(0, 0%, 15%);
$background: $white;
$code: hsl(0, 0%, 33%);
$code-background: hsl(0, 0%, 95%);
$pre: $code;
$pre-background: $code-background;
$pre-padding: 1.0rem 1.5rem;
$hr-background-color: $light;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/*
// TODO: Import only what you need from Bulma
@import "../libs/bulma/sass/utilities/_all.sass";
@import "../libs/bulma/sass/base/_all.sass";
@import "../libs/bulma/sass/elements/button.sass";
@import "../libs/bulma/sass/elements/container.sass";
@import "../libs/bulma/sass/elements/title.sass";
@import "../libs/bulma/sass/form/_all.sass";
@import "../libs/bulma/sass/components/navbar.sass";
@import "../libs/bulma/sass/layout/hero.sass";
@import "../libs/bulma/sass/layout/section.sass";
*/

@import "../libs/bulma/bulma.sass";


$fa-font-path: "../fonts/fontawesome" !default;
@import "../libs/fontawesome/fontawesome.scss";
@import "../libs/fontawesome/solid.scss";



/*
@import "material-color";
@import "material-shadows";

@import "utilities/break";
@import "utilities/convert";

@import "config";

@import "main/reset";
@import "main/colors";
@import "main/icons";
@import "main/typeset";

@import "main/layout/base";
@import "main/layout/announce";
@import "main/layout/clipboard";
@import "main/layout/content";
@import "main/layout/dialog";
@import "main/layout/form";
@import "main/layout/header";
@import "main/layout/footer";
@import "main/layout/nav";
@import "main/layout/search";
@import "main/layout/sidebar";
@import "main/layout/source";
@import "main/layout/tabs";

@import "main/extensions/markdown/admonition";
@import "main/extensions/markdown/footnotes";
@import "main/extensions/markdown/toc";

@import "main/extensions/pymdownx/arithmatex";
@import "main/extensions/pymdownx/critic";
@import "main/extensions/pymdownx/details";
@import "main/extensions/pymdownx/emoji";
@import "main/extensions/pymdownx/highlight";
@import "main/extensions/pymdownx/keys";
@import "main/extensions/pymdownx/tabbed";
@import "main/extensions/pymdownx/tasklist";

@import "main/shame";
*/

// Bulma overrides

main {
    margin-top: 3rem;

    @include mobile {
        margin-top: 1.5rem;
    }
}

html {
    @include mobile {
        font-size: 16px;
    }
    @include tablet-only {
        font-size: 18px;
    }
    @include desktop-only {
        font-size: 18px;
    }
}

body > .container {
    padding: 0 32px;  // TODO: use bulma variables

    @include mobile {
        padding: 0 24px;
    }
    @include tablet-only {
        padding: 0 32px;
    }
    @include desktop-only {
        padding: 0 32px;
    }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit !important;
}

p, pre, blockquote {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

a:not(.button):hover {
    text-underline-offset: 2px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.button:hover {
    color: $text;
}
.button.is-medium {
    font-size: 1em;
}

.content code {
    border-radius: $radius;
}
.content pre {
    border-radius: $radius-large;
    white-space: pre-wrap;
}
.content blockquote {
    border: none;
}
.content blockquote:before {
    content: "\275D";  /* â */
    display: block;
    position: absolute;
    font-size: 2rem;
    color: $text-strong;
    transform: translate(-2rem, -0.8rem);
}
.content table {
    width: auto;
}
.content dt {
    font-weight: $weight-semibold;
}

.navbar {
    padding: 1.0rem 1.5rem;
    user-select: none;

    a:hover {
        color: inherit;
        text-decoration-line: none !important;
    }
}
.navbar-brand {  // TODO: should be in custom classes, not bulma overrides
    height: 80px;
}
.navbar-item:focus {
    outline: none;
}
.navbar-burger {
    height: auto;
}
.navbar-burger > span {
    height: 2px;
    border-radius: 1px;
}
.navbar-burger:hover {
    background-color: initial;
}


// Custom classes

@import "extensions/markdown/_codehilte.scss";
//@import "extensions/pymdownx/arithmatex.scss";
//@import "extensions/pymdownx/critic.scss";
//@import "extensions/pymdownx/details.scss";
//@import "extensions/pymdownx/highlight.scss";
//@import "extensions/pymdownx/highlight.scss";
//@import "extensions/pymdownx/keys.scss";
//@import "extensions/pymdownx/tabbed.scss";
//@import "extensions/pymdownx/tasklist.scss";

.nav li {
    padding: 0;
    margin: 0.25rem 0;
}
.nav li > ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}
.nav p {
    font-weight: $weight-normal;
    color: $text;
}
.nav.is-level-1 {
    font-weight: $weight-semibold;
    color: $text-strong;
}
.nav.is-level-2 {
    font-weight: $weight-normal;
    color: $text;
}
.nav header,
.nav a {
    font-weight: inherit;
    color: inherit;
}
.nav a {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin: 0.0 -0.75rem;
}
.nav a.is-current {
    color: $bright-blue !important;
    pointer-events: none;
}

.toc li > ol {
    margin-left: 2rem;
}

p.is-small {
    font-size: 0.8em;
}

.fat-button {
    text-align: left;
    height: 3.5em;
}
.fat-button em {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    opacity: 0.5;
    
}
.fat-button strong {
    display: block;
    font-weight: $weight-semibold;
}

.em-link {
    color: inherit;
    font-weight: $weight-semibold;
}
.em-link:hover {
    color: $text;
}

// Permalinks
.headerlink {
    color: inherit;
    padding: 0 0.5rem;
    opacity: 0;
    user-select: none;
}
.headerlink:hover {
    text-decoration-line: none;
}
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    opacity: 1;
}




#header {
    display: none;
    padding: 0;
    margin: 0;

    @include mobile {
        display: block;
    }
}
#header-logo {
    padding: 0 24px;

    img {
        vertical-align: -0.8rem;
        margin-right: 0.5rem;
        max-height: none;
    }
    strong {
        font-weight: $weight-semibold;
        font-size: 1.25rem;
    }
}
#header-burger {
    width: 50px;
    padding: 0;
    justify-content: center;

    position: relative;
    top: 0;
    z-index: 2;
    width: 60px;
    padding-right: 10px;
}
#header-menu {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding-top: 32px;  // just looks good
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $background;
    opacity: 0;
    transition: opacity 350ms ease;
    font-size: 1.125rem;
}
#header-menu.is-active {
    opacity: 1;
}
#header-menu:not(.is-active) {
    pointer-events: none;
}
#header-menu > .container {
    padding: 24px;
    transition: transform 500ms ease-out;
}
#header-menu:not(.is-active) > .container {
    transform: translateY(-80px);
}


#sidebar {
    flex-grow: 0;
    flex-basis: 300px;
    margin-bottom: 100px;
    user-select: none;

    @include until($tablet) {
        display: none;
    }
    @include until($widescreen) {
        flex-basis: 250px;
    }
}
#sidebar-logo {
    display: inline-block !important;
    margin: 50px 20px 30px 20px;
}


#footer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: $grey;

    .button.is-text {
        text-decoration: none;
    }
    .button.is-text:hover {
        background-color: unset;
    }
    em {
        font-weight: $weight-semibold;
        font-style: normal;
    }
    p {
        margin-bottom: 1.0rem;
    }
}


#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: clamp(600px, 100vh, 900px);
    overflow-x: hidden;
    // max-height: 900px;

    background: rgb(20, 20, 20) url(../images/background.jpg);
    background-size: cover;
    background-position: 50% 50%;

    text-align: center;
    color: white;
    cursor: default;

    abbr {
        font-family: Asap;
    }
    .hero-head {
        flex-grow: 1;
        align-items: center;
        padding-bottom: 2rem;

        display: flex;
        justify-content: center;

        .button.is-text {
            color: white;
            text-decoration: none;
            margin: 0.5rem 0;
        }
        .button.is-text:hover {
            background-color: $primary;
            color: white;
            text-shadow: none;
            text-decoration: none;
            box-shadow: 0.05rem 0.1rem 1.0rem rgba(0, 0, 0, 0.2);
        }

        .columns {
            @include until($tablet) {
                display: none;
            }
        }
    }
    .button:focus {
        background-color: transparent;
        outline: 2px solid white;
        color: white;
        box-shadow: none;
    }
    .button.is-outlined:focus {
        border-color: white;
        outline: none;
    }
    .hero-body {
        flex-grow: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .hero-footer {
        flex-grow: 1;
    }

    .title {
        // padding-top: 10rem;
        font-family: Pacifico;
        text-rendering: optimizeSpeed;
        font-size: 4.5rem;
        color: inherit;
    }
    .subtitle {
        color: hsla(0, 0, 67%, 0.6);
        margin: 1rem 0;
    }
    .download-button {
        margin-top: 1.5rem;
    }
}


// force one word per line when in portrait
@media screen and (max-aspect-ratio: 1/1) and (max-width: 900px)
{
    /*
    #hero {
        min-height: 600px;
    }
    */
    #hero .title {
        word-spacing: 9999999px;
    }
}

.homepage {
    .section .title {
        text-align: center;
    }

    .nav.is-level-2 {
        margin: 0;
        padding: 0;
    }
}


.download-button {
    color: rgba(171, 171, 171, 0.6);
    text-decoration: none !important;
    background-color: transparent;  // rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(171, 171, 171, 0.3);
    font-size: 1.25rem !important;  /* same as subtitle */

    .icon > .fas {
        transform: translateY(-0.2em);
        transition: transform 200ms ease-out;
    }
    .icon:after {
        content: '';
        background-color: rgba(171, 171, 171, 0.6);
        height: 3px;
        width: 22px;
        border-radius: 1.5px;
        position: absolute;
        bottom: 0.5em;
    }
    
}
.download-button:hover {
    background-color: $primary;
    border-color: $primary;
    color: white;

    .icon > .fas {
        transform: translateY(0);
    }
    .icon:after {
        background-color: white;
    }
}

.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% { transform:rotate(0) }
    20%,60% { transform:rotate(-25deg) }
    40%, 80% { transform:rotate(10deg) }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation:octocat-wave 560ms ease-in-out
    }
}


/*
// larger header to fill space
@media screen and (min-width: 900px),
       screen and (min-height: 600px)
{
    #hero {
        height: 900px;
    }
}
*/
